#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  background-color: $primary;
  z-index: 9;
  @media screen and(max-width:1280px) {
    height: 50px;
    width: 100%;
    padding: 0;
    bottom: 0;
    top: unset;
    padding: 30px 0;
    align-self: center;
  }
  &.game-link-visible {
    &::before {
      height: 80%;
      @media screen and(max-width:1280px) {
        height: 2px;
      }
    }
    @media screen and(max-width:1280px) {
      .content {
        width: 80%;
      }
    }
  }
  &::before {
    height: 50%;
    width: 2px;
    content: "";
    position: absolute;
    align-self: center;
    left: 50%;
    border-left-width: 1px;
    border-left-style: solid;
    border-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        white,
        rgba(0, 0, 0, 0)
      )
      1 100%;
    @media screen and(max-width:1280px) {
      border-left-width: 0;
      border-left-style: none;
      border-top-width: 1px;
      border-top-style: solid;
      border-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          white,
          rgba(0, 0, 0, 0)
        )
        100% 1;
      height: 2px;
      width: 100%;
      left: 0;
    }
  }
  .content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &.game-link-visible {
      min-height: 400px;
    }
    @media screen and(max-width:1280px) {
      flex-direction: row;
      min-height: 50px;
      width: 50%;
      margin: 0 auto;
      &.game-link-visible {
        min-height: 50px;
      }
    }
    .sidebar-item {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: $primary;
      transition: all 0.25s ease-in-out;
      &:hover,
      &.active {
        background-color: $pink;
        transition: all 0.25s ease-in-out;
      }
    }
  }
}
