body {
  @import "./style/colorVariables.scss";
  @import "./sidebar/sidebar.scss";
  @import "./pages/pages";
  @import "./components/components";

  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: $primary;
  color: white;
  // overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  @media screen and(max-width:1280px) {
    #app {
      padding-bottom: 150px;
    }
  }
}
