.card {
  height: 8vw;
  width: 8vw;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;

  @media screen and(max-width:1024px) {
    height: 15vw;
    width: 15vw;
  }

  @media screen and(max-width:580px) {
    height: 17vw;
    width: 17vw;
  }

  .card-back {
    &.match {
      background: $success;
      font-size: 33px;
      backface-visibility: hidden;
      cursor: default;
    }
  }

  &.wrong {
    .card-back {
      cursor: default;
      background: $error;
    }
  }

  .card-front,
  .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-front {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    position: absolute;
    cursor: pointer;
    background: $primary;
  }

  .card-back {
    background-color: #8093da;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    position: absolute;
    cursor: default;
    transform: rotateY(180deg);
    font-size: 33px;

    @media screen and(max-width:992px) {
      svg {
        width: 20px;
      }
    }
  }

  &.flip {
    transform: rotateY(180deg);
  }
}
