#add-user-form {
  background-color: $primary;
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(max-width:992px) {
    padding: 50px;
  }
  button {
    margin-top: 50px;
  }
  input {
    color: white;
  }
  .MuiInputBase-root {
    width: 100%;
    &:hover {
      border-bottom-color: $blue;
    }
    &::before {
      border-bottom-color: $blue;
    }
    &::after {
      border-bottom-color: $pink;
    }
  }
}
