.patterns {
  width: 100%;
  height: 300px;
  margin-top: 100px;

  //media queries
  @media screen and(max-width:1280px) {
    margin-top: 50px;
  }
  @media screen and(max-width:768px) {
    margin-top: 0;
  }
  svg text {
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;

    //media queries
    @media screen and(max-width:1280px) {
      font-size: 100px;
    }
    @media screen and(max-width:992px) {
      font-size: 80px;
      stroke-width: 2;
    }
    @media screen and(max-width:768px) {
      font-size: 64px;
    }
    @media screen and(max-width:580px) {
      font-size: 36px;
      stroke-width: 1;
    }
  }
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}
